Menurut saya, supervised learning system bisa diaplikasikan untuk data Singapore Airbnb

In [8]:
import pandas as pd
bnbData = pd.read_csv("listings.csv")
print(bnbData.head(1))

      id                               name  host_id  host_name  \
0  49091  COZICOMFORT LONG TERM STAY ROOM 2   266763  Francesca

  neighbourhood_group neighbourhood  latitude  longitude     room_type  price  \
0        North Region     Woodlands   1.44255   103.7958  Private room     83

   minimum_nights  number_of_reviews last_review  reviews_per_month  \
0             180                  1  10/21/2013               0.01

   calculated_host_listings_count  availability_365
0                               2               365

Find minimum or maximum of a value

In [10]:
minValue = bnbData.min()
maxValue = bnbData.max()
print("Min Price : ", maxValue["price"])

Min Price :  10000

Eliminate null value

In [14]:
newBnbDataDrop = bnbData.dropna()
print(newBnbDataDrop.isna().values.any())
print(len(newBnbDataDrop))

False
5148

Replace null value to certain value

In [15]:
newBnbDataFill = bnbData.fillna("Value")
print(newBnbDataFill.isna().values.any())
print(len(newBnbDataFill))

False
7907